* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
}

header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    margin: 0;
    color:blueviolet;
}

header a {
    text-decoration: none;
    color: blueviolet
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
}

.side-panel {
    margin-left: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.side-panel h2 {
    margin: 400px 10px;
}

.description {
    width: 75%;
    display: inline-block;
    margin-right: 20px;
}